body {
    background-image: url("https://wallpapercave.com/wp/wp5307451.jpg");
    background-repeat: no-repeat;
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
}

.row {
    display: flex;
    width: 650px !important;
}

.columns {
    width: 100% !important;
    padding: 0 !important;
}

.columns img {
    width: 100%;
}

.col-content {
    padding: 2% 5% !important;
}